<system.web>
  <sessionState mode="InProc" timeout="20" />
</system.web>
<system.webServer>
  <handlers>
    <add name="ASMXHandler" verb="*" path="*.asmx"
         type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral" />
  </handlers>
</system.webServer>

